In [4]:
import pandas as pd
import numpy as np

In [7]:
student_performance = pd.read_csv("./StudentsPerformance.csv")

In [99]:
lunch1 = student_performance.loc[student_performance.lunch == "standard"]
lunch2 = student_performance.loc[student_performance.lunch == "free/reduced"]
p = pd.DataFrame([lunch1.mean(), lunch2.mean()], index=["std lunch", "reduced lunch"]);
p
#student_performance.tail(3)

               math score  reading score  writing score
std lunch       70.034109      71.654264      70.823256
reduced lunch   58.921127      64.653521      63.022535

In [102]:
p = pd.DataFrame([lunch1.var(), lunch2.var()], index=["std lunch", "reduced lunch"]);
p

               math score  reading score  writing score
std lunch      186.418089     191.285560     205.620887
reduced lunch  229.824270     221.871139     238.202881

Вариант решения 2 на GroupBy + Aggregate

In [100]:
student_performance.groupby("lunch").aggregate({"math score": "mean"})

              math score
lunch
free/reduced  229.824270
standard      186.418089