In [4]:
import pandas as pd
import numpy as np

In [1]:
# https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv
student_performance = pd.read_csv("./StudentsPerformance.csv")

NameError: name 'pd' is not defined

In [126]:
student_performance = student_performance\
    .rename(columns={
        "math score": "math_score",
        "reading score": "reading_score",
        "writing score": "writing_score",
    })
student_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [127]:
lunch1 = student_performance.loc[student_performance.lunch == "standard"]
lunch2 = student_performance.loc[student_performance.lunch == "free/reduced"]
p = pd.DataFrame([lunch1.mean(), lunch2.mean()], index=["std lunch", "reduced lunch"]);
p
#student_performance.tail(3)

               math_score  reading_score  writing_score
std lunch       70.034109      71.654264      70.823256
reduced lunch   58.921127      64.653521      63.022535

In [128]:
p = pd.DataFrame([lunch1.var(), lunch2.var()], index=["std lunch", "reduced lunch"]);
p

               math_score  reading_score  writing_score
std lunch      186.418089     191.285560     205.620887
reduced lunch  229.824270     221.871139     238.202881

Вариант решения 2 на GroupBy + Aggregate

In [131]:
student_performance.groupby("lunch")\
    .aggregate({"math_score": "mean", "reading_score": "mean"})\
    .rename(columns={"math_score": "mean_math_score", "reading_score": "mean_reading_score"})

              mean_math_score  mean_reading_score
lunch
free/reduced        58.921127           64.653521
standard            70.034109           71.654264