In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [14]:
# https://stepik.org/media/attachments/course/4852/cats.csv
df = pd.read_csv('cats.csv', index_col=0)
df

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик
8         1        1                   1    котик
9         0        0                   1    котик

In [32]:
round(-0.1*np.log2(0.1), 2)

0.33

In [33]:
round(-0.9*np.log2(0.9), 2)

0.14

In [34]:
round(-0.5*np.log2(0.5), 2)

0.5

In [36]:
round(-0.4*np.log2(0.4), 2)

0.53

In [35]:
round(-0.6*np.log2(0.6), 2)

0.44