In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('submissions_data_train.zip', compression='zip')

In [38]:
df.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [40]:
df.shape

(509104, 4)

In [41]:
df_wrong = df[df.submission_status == 'wrong']

In [42]:
df_wrong.shape

(286399, 4)

In [50]:
t = df.groupby(['step_id']).agg({'user_id': 'count'}).rename({'user_id':'user_count'}, axis=1)

In [56]:
t[t.user_count == t.user_count.max()]

         user_count
step_id
31978         22178

In [78]:
# in one line
df[df.submission_status == 'wrong'].step_id.value_counts().head()

31978    16084
32031    13373
32202    13002
33481    10300
32075    10003
Name: step_id, dtype: int64

In [82]:
pd.crosstab(df['step_id'], df['submission_status']).sort_values('wrong', ascending=False).head(3)

submission_status  correct  wrong
step_id
31978                 6094  16084
32031                 4848  13373
32202                 3948  13002