In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd
import numpy as np

In [74]:
df = pd.read_csv("iris.csv", index_col=0)
df.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [22]:
%time df.apply(np.mean)

Wall time: 3.91 ms

sepal length    5.843333
sepal width     3.054000
petal length    3.758667
petal width     1.198667
species         1.000000
dtype: float64

In [26]:
%timeit df.apply('mean')

1.19 ms ± 97.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
%%timeit
df.mean(axis=0)

383 µs ± 44.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [24]:
%time df.describe().loc['mean']

Wall time: 25.4 ms

sepal length    5.843333
sepal width     3.054000
petal length    3.758667
petal width     1.198667
species         1.000000
Name: mean, dtype: float64

In [29]:
%%timeit
np.mean(df.values)

96.5 µs ± 9.27 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [30]:
import timeit

l = ["""df.describe().loc['mean']""","""df.apply('mean')""", """df.mean(axis=0)""", """df.apply(np.mean)"""]

dic={}

for i in range(0,len(l)):
    dic[l[i]] = timeit.timeit(l[i], number=10, globals=globals())

pd.DataFrame.from_dict(dic, orient='index').sort_values(0)

                                  0
df.mean(axis=0)            0.003622
df.apply('mean')           0.008805
df.apply(np.mean)          0.015727
df.describe().loc['mean']  0.184727

In [47]:
d = {'2019-08-01': 1,
                   '2019-08-02': 2,
                   '2019-08-03': 3,
                   '2019-08-04': 1,
                   '2019-08-05': 1}
df = pd.DataFrame.from_dict(d, orient='index', columns=['Value'])
df.head()

            Value
2019-08-01      1
2019-08-02      2
2019-08-03      3
2019-08-04      1
2019-08-05      1

In [54]:
df.index = pd.DatetimeIndex(df.index)

In [57]:
df.index

DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04',
               '2019-08-05'],
              dtype='datetime64[ns]', freq=None)

In [72]:
df.expanding().sum()

            Value
2019-08-01    1.0
2019-08-02    3.0
2019-08-03    6.0
2019-08-04    7.0
2019-08-05    8.0